/*---------------Default--------------
*/
html{
	background: #FEFAEC;
}
/*--------------Menu/Navigation------------
*/




/*---------------Header--------
*/
h1{
	font-size: 55px;
	text-align: center;

}
.main-heading{
	background: #A9EEE6;
	border-bottom: solid #625772;
	border-top: solid #625772;
	padding-bottom: 20px;
	padding-top: 20px
	padding-left:100%
	padding-right:100%;
}
/*-------------Body--------
*/

